# Ignore all files
*

# ! in front is negation - override above and include it

# Include folders
!*/

# Include few special filenames
!.gitignore
!Makefile
!README

# Include all .h, .cpp and .in files
!*.h
!*.cpp
!*.in

